<div class="container">
    <div class="card bg-dark-subtle col-3 position-absolute top-50 start-50 translate-middle">
        <div class="card-header">
            <h2>Register</h2>
        </div>
        <div class="card-body">
            <form action="" method="post" class="signup-form mb3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control bg-dark-subtle border border-primary" id="name" placeholder="John Doe">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control bg-dark-subtle border border-primary" id="email"
                    placeholder="name@example.com">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control bg-dark-subtle border border-primary" id="password"
                    placeholder="Password">
                    <div class="card-footer">
                <button type="submit" class="btn btn-primary col-12">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="./js/signup.js"></script>